.alert {
    text-align: center;
    display: inline-block;
    margin: 0 0 2px 5px;
    padding: 5px;
    border-radius: 0;
    font-size: 12px;
}

.alert button {
    top: 0 !important;
    right: -2px !important;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
}

.hand {
    border-radius: 100%;
    width: 16px;
    height: 16px;
    padding-left: 4px;
    font-weight: bold;
    color: white;
}

.hand-l {
    background-color: red;
}

.hand-r {
    background-color: green;
}

#canvas {
    background-color: red;
    width: 100%;
    height: 100%;
}
